* {
    margin: 0;
    padding: 0;
    font-family: 'Berkshire Swash', cursive;
}

#mainpage {
    display: block;
    background-color: black; 
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#picdiv {
    display: block;
    position: relative;
    width: 50%;
    float:left;
}

#picdiv2 {
    display: block;
    position: relative;
    width: 50%;
    float:left;
}

img {
    width: 100%;
    height: 1000px;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}
.row-fluid {
    display: block;
    position: fixed;
    word-wrap: wrap;
    font-family: 'Berkshire Swash', cursive;
    height: 200px;
    width: 35%;
    text-align: center;
    border:3px solid black;
    background-color: rgba(0,0,0,0.3);
    float: left;
    z-index: 100;
    margin-top: 200px;
    margin-left: 33%;
    padding: 20px;
}

#fixbox {
    display: block;
    position: fixed;
    word-wrap: wrap;
    font-family: 'Berkshire Swash', cursive;
    height: 80px;
    width: 15%;
    text-align: center;
    border:2px solid white;
    background-color: rgba(0,0,0,0.5);
    float: left;
    z-index: 100;
    margin-top: 420px;
    margin-left: 42%;
    padding: 10px;
}
strong {
   font-size: 1.1em;
   word-spacing: 5px;
   color: #F0E68C;
}

h2 {
    color: white;
    font-size: 4em;

}
h3 {
    color: #F0E68C;
    font-size: 20px;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
     text-decoration:none; 
     cursor:pointer;  
     color: inherit;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 901px) {
 strong {
   font-size: 1.1em;
   word-spacing: 5px;
   color: #F0E68C;
}

h2 {
    color: white;
    font-size: 4em;

}
h3 {
    color: #F0E68C;
    font-size: 20px;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
     text-decoration:none; 
     cursor:pointer;  
     color: inherit;
}
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 900px) {
 strong {
   font-size: 0.6em;
   word-spacing: 5px;
   color: #F0E68C;
}

h2 {
    color: white;
    font-size: 2em;

}
h3 {
    color: #F0E68C;
    font-size: 15px;
    padding: 5px;
    
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
     text-decoration:none; 
     cursor:pointer;  
     color: inherit;
}
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
 strong {
   font-size: 0.5em;
   word-spacing: 2px;
   color: #F0E68C;
}

h2 {
    color: white;
    font-size: 1em;

}
h3 {
    color: #F0E68C;
    font-size: 15px;
    padding: 3px;
    
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
     text-decoration:none; 
     cursor:pointer;  
     color: inherit;
}

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
